
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    
      <h1 class="display-3">Welcome to HGTDPDB</h1>
    
      <p>A demo web application of HGTD production database.</p>
      <!--<p><a href="https://github.com/cookiecutter-flask/cookiecutter-flask" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
    </div>
</div><!-- /.jumbotron -->

<br />
<br />
  
<div class="display" align="center">
<title> img test </title>
<img alt="hgtd detector" src="{{url_for('static',filename='images/fig_003.png')}}" width="40%"/>
</div>

<br />
<br />

<!-- <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> Bootstrap 4</h2>
      <p>Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</p>
      <p><a class="btn btn-outline-secondary" href="http://getbootstrap.com/">Official website &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> SQLAlchemy</h2>
      <p>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.</p>
      <p><a href="http://www.sqlalchemy.org/" class="btn btn-outline-secondary">Official website &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> WTForms</h2>
      <p>WTForms is a flexible forms validation and rendering library for python web development.</p>
      <p><a href="http://wtforms.simplecodes.com/" class="btn btn-outline-secondary">Official website &raquo;</a></p>
    </div>
  
</div> -->
<div class="display" align="right">
<title> img test </title>
<img alt="hgtd detector" src="{{url_for('static',filename='images/CERN.png')}}" width="10%"/>
</div>
{% endblock %}

